@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-primary: #0066FF;
  --color-accent: #FFD700;
  --color-bg-dark: #05070a;
  --color-card-dark: #101318;
}

body {
  background-color: var(--color-bg-dark);
  color: white;
  font-family: 'Inter', sans-serif;
}
